#search_name {
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f8f8f8;
    outline: none;
}

#search_name::placeholder {
    color: #999;
}

#search_name:focus {
    border-color: #007bff;
    background-color: #fff;
}