@media only screen and (min-device-width: 200px) and (max-device-width: 375px) {
	/* iPhone SE */

	.login{
		display: none !important;
	}
	.mobile-login{
		position: absolute;
		top: 16em;
		width: 100%;
		display: block;
	}
	.mobile-login input{
		width: 100%;
	}

	.hero-title [data-aos][data-aos][data-aos-delay="600"].aos-animate, body[data-aos-delay="600"] [data-aos].aos-animate {
		font-size: 2em;
	}

	.header div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.banner div {
		display: none;
	}

	.mabes-list {
		left: unset;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 61%;
		bottom: -35px;
	}

	.mabes-list .thumbnail {
		width: 6.5em;
		height: 7rem;
	}
	.mabes-list .thumbnail .place-name{
		font-size: 15px;
	}
	.mabes-list .active{
		margin-top: -1.5rem;
	}

	.hero-title p:nth-child(1) {
		position: absolute;
		top: 4.5em;
		width: 100%;
		text-align: center;
		font-size: 19px;
	}

	.hero-title p:nth-child(2) {
		position: absolute;
		top: 3em;
		width: 100%;
		text-align: center;
		font-size: 25px !important;
	}

	.hero-title .details {
		position: absolute;
		width: 100%;
		text-align: center;
		top: 8em;
	}

	.hero-title .Visit {
		display: none;
	}
	.header .logo img{
		width: 21%;
	}

	.alert-danger{
		font-size: 9px;
	}
}

@media only screen and (min-device-width: 376px) and (max-device-width: 390px) {
	/* iPhone 12 Pro */

	.login{
		display: none !important;
	}
	.mobile-login{
		position: absolute;
		top: 20em;
		width: 100%;
		display: block;
	}
	.mobile-login input{
		width: 100%;
	}

	.hero-title [data-aos][data-aos][data-aos-delay="600"].aos-animate, body[data-aos-delay="600"] [data-aos].aos-animate {
		font-size: 2em;
	}

	.header div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.banner div {
		display: none;
	}

	.mabes-list {
		left: unset;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 64%;
		bottom: -11px;
	}

	.mabes-list .thumbnail {
		width: 6.5em;
	}

	.hero-title p:nth-child(1) {
		position: absolute;
		top: 4.5em;
		width: 100%;
		text-align: center;
	}

	.hero-title p:nth-child(2) {
		position: absolute;
		top: 4.5em;
		width: 100%;
		text-align: center;
	}

	.hero-title .details {
		position: absolute;
		width: 100%;
		text-align: center;
		top: 13em;
	}

	.hero-title .Visit {
		display: none;
	}
}

@media only screen and (min-device-width: 391px) and (max-device-width: 414px) {
	/* iPhone XR */

	.login{
		display: none !important;
	}
	.mobile-login{
		position: absolute;
		top: 21em;
		width: 100%;
		display: block;
	}
	.mobile-login input{
		width: 100%;
	}

	.hero-title [data-aos][data-aos][data-aos-delay="600"].aos-animate, body[data-aos-delay="600"] [data-aos].aos-animate {
		font-size: 2em;
	}

	.header div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.banner div {
		display: none;
	}

	.mabes-list {
		left: unset;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 59%;
	}

	.mabes-list .thumbnail {
		width: 7.5em;
	}

	.hero-title p:nth-child(1) {
		position: absolute;
		top: 4.5em;
		width: 100%;
		text-align: center;
	}

	.hero-title p:nth-child(2) {
		position: absolute;
		top: 4.5em;
		width: 100%;
		text-align: center;
	}

	.hero-title .details {
		position: absolute;
		width: 100%;
		text-align: center;
		top: 13em;
	}

	.hero-title .Visit {
		display: none;
	}
}

@media only screen and (min-device-width: 415px) and (max-device-width: 430px) {
	/* iPhone 14 Pro Max */
	.login {
		display: none !important;
	}

	.mobile-login {
		position: absolute;
		top: 21em;
		width: 100%;
		display: block;
	}

	.mobile-login input {
		width: 100%;
	}

	.hero-title [data-aos][data-aos][data-aos-delay="600"].aos-animate, body[data-aos-delay="600"] [data-aos].aos-animate {
		font-size: 2em;
	}

	.header div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.banner div {
		display: none;
	}

	.mabes-list {
		left: unset;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 62%;
	}

	.mabes-list .thumbnail {
		width: 7.5em;
	}

	.hero-title p:nth-child(1) {
		position: absolute;
		top: 4.5em;
		width: 100%;
		text-align: center;
	}

	.hero-title p:nth-child(2) {
		position: absolute;
		top: 4.5em;
		width: 100%;
		text-align: center;
	}

	.hero-title .details {
		position: absolute;
		width: 100%;
		text-align: center;
		top: 13em;
	}

	.hero-title .Visit {
		display: none;
	}
}

@media only screen and (min-device-width: 431px) and (max-device-width: 768px) {
	/* iPad Air & iPad Mini */

	.login {
		display: none !important;
	}

	.mobile-login {
		position: absolute;
		top: 21em;
		width: 100%;
		display: block;
	}

	.mobile-login input {
		width: 100%;
	}
	.header div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.banner div {
		display: none;
	}

	.mabes-list {
		left: unset;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 69%;
	}

	.mabes-list .thumbnail {
		width: 13em;
	}

	.hero-title p:nth-child(1) {
		position: absolute;
		top: 6em;
		width: 100%;
		text-align: center;
	}

	.hero-title p:nth-child(2) {
		position: absolute;
		top: 3em;
		width: 100%;
		text-align: center;
	}

	.hero-title .details {
		position: absolute;
		top: 17em;
		width: 100%;
		text-align: center;
	}

	.hero-title .Visit {
		display: none;
	}
}

@media only screen and (min-device-width: 769px) and (max-device-width: 820px) {
	/* iPad Air & iPad Mini */

	.login {
		display: none !important;
	}

	.mobile-login {
		position: absolute;
		top: 21em;
		width: 100%;
		display: block;
	}

	.mobile-login input {
		width: 100%;
	}
	.header div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.banner div {
		display: none;
	}

	.mabes-list {
		left: unset;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 75%;
	}

	.mabes-list .thumbnail {
		width: 13em;
	}

	.hero-title p:nth-child(1) {
		position: absolute;
		top: 6em;
		width: 100%;
		text-align: center;
	}

	.hero-title p:nth-child(2) {
		position: absolute;
		top: 3em;
		width: 100%;
		text-align: center;
	}

	.hero-title .details {
		position: absolute;
		top: 17em;
		width: 100%;
		text-align: center;
	}

	.hero-title .Visit {
		display: none;
	}
}
