/*@media only screen and (min-device-width: 200px) and (max-device-width: 375px) {*/
/*    #mobile-scroll {*/
/*        overflow: auto;*/
/*    }*/

/*    .mobile-width {*/
/*        width: 84em !important;*/
/*    }*/

/*    #content {*/
/*        width: 100% !important;*/
/*    }*/
/*}*/

/*@media only screen and (min-device-width: 376px) and (max-device-width: 390px) {*/
/*    #mobile-scroll {*/
/*        overflow: auto;*/
/*    }*/

/*    .mobile-width {*/
/*        width: 84em !important;*/
/*    }*/

/*    #content {*/
/*        width: 100% !important;*/
/*    }*/
/*}*/

/*@media only screen and (min-device-width: 391px) and (max-device-width: 414px) {*/
/*    #mobile-scroll {*/
/*        overflow: auto;*/
/*    }*/

/*    .mobile-width {*/
/*        width: 84em !important;*/
/*    }*/

/*    #content {*/
/*        width: 100% !important;*/
/*    }*/
/*}*/

/*@media only screen and (min-device-width: 415px) and (max-device-width: 430px) {*/
/*    #mobile-scroll {*/
/*        overflow: auto;*/
/*    }*/

/*    .mobile-width {*/
/*        width: 84em !important;*/
/*    }*/

/*    #content {*/
/*        width: 100% !important;*/
/*    }*/
/*}*/

/*@media only screen and (min-device-width: 431px) and (max-device-width: 768px) {*/
/*    #mobile-scroll {*/
/*        overflow: auto;*/
/*    }*/

/*    .mobile-width {*/
/*        width: 84em !important;*/
/*    }*/

/*    #content {*/
/*        width: 100% !important;*/
/*    }*/
/*}*/

/*@media only screen and (min-device-width: 769px) and (max-device-width: 820px) {*/
/*    !* iPad Air & iPad Mini *!*/
/*    #mobile-scroll {*/
/*        overflow: auto;*/
/*    }*/

/*    .mobile-width {*/
/*        width: 84em !important;*/
/*    }*/

/*    #content {*/
/*        width: 100% !important;*/
/*    }*/
/*}*/

/*@media (max-width: 980px) {*/
/*    body {*/
/*        zoom: 0.5 !important;*/
/*    }*/

/*    #content {*/
/*        zoom: 0.8 !important;*/
/*    }*/
/*}*/




#mobile-scroll {
    overflow: auto;
}

.mobile-width {
    width: 84em !important;
}

body {
    background: #14ae5c !important;
}


.table-1 {
    width: 100%;
}

.table-1 tbody tr th, .table-1 tbody tr td {
    border-bottom: 0 !important;
    border-top: 0 !important;
}

.table-1 thead tr th, .table-1 thead tr td {
    border-top: 0 !important;
    border-bottom: 3px solid #ddd;
}

tr:nth-child(even) {
    background-color: #fbe4d5;
}

.table-1 thead {
    background-color: gray !important;
    color: white;
}

.logout {
    display: none !important;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1614px !important;
    }
}

@media (max-width: 1200px) {
    .logout {
        display: block !important;
    }

    #settings{
        display: none !important;
    }
    #settings-details{
        display: none !important;
    }
}
@media only screen and (min-device-width: 200px) and (max-device-width: 1024px)
{
    .logo1{
        opacity: 0 !important;
    }
    .logo2{
        opacity: 1 !important;
        width: 100px !important;
        height: auto !important;
        position: absolute;
        left: 15em;
        top: 19px;
    }
    .nav-links{
        box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19) !important;
    }
}
.logo1{
    opacity: 1;
}

.logo2{
    opacity: 0;
}

.nav-links, p {
    margin-block-end: 0 !important;
}

.h1, h1 {
    font-size: 2rem !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600 !important;
}

.footer{
    z-index: 9999;
}