/*@media only screen and (min-device-width: 200px) and (max-device-width: 375px) {*/
/*	#side #side-a {*/
/*		text-align: center;*/
/*		display: block;*/
/*		justify-content: unset;*/
/*		align-items: unset;*/
/*		height: 6.5em;*/
/*	}*/

/*	#side #side-a p {*/
/*		border-right: 0;*/
/*	}*/

/*	#side #side-a #x-hide-show-side-bar {*/
/*		top: 1px;*/
/*	}*/

/*	#sideTab {*/
/*		padding: 7px;*/
/*	}*/

/*	#sideTab .tab-teacherInfo {*/
/*		width: 11.5em;*/
/*	}*/

/*	#sideTab .tab-teacherInfo div {*/
/*		padding-left: 1em;*/
/*	}*/

/*	#sideTab .tab-trash {*/
/*		width: 11.5em;*/
/*		justify-content: flex-start;*/
/*	}*/

/*	#sideTab .tab-trash div {*/
/*		padding-left: 1.2em;*/
/*		justify-content: flex-start;*/
/*	}*/

/*	.tab-teacherInfo div:nth-child(1), .tab-masterlist div, .tab-records div, .tab-trash div {*/
/*		border-radius: 13px !important;*/
/*	}*/

/*	#sideTab #tab-masterlist-a {*/
/*		width: 9.5em;*/
/*		justify-content: flex-start;*/
/*	}*/

/*	#content > div > div.bg-white {*/
/*		overflow: auto;*/
/*	}*/

/*	#content #grid-a {*/
/*		width: 31em;*/
/*	}*/

/*	#content #mobile-a {*/
/*		margin-top: 2em;*/
/*	}*/

/*	.modal-content {*/
/*		width: 100% !important;*/
/*	}*/

/*	.mobile-image1 {*/
/*		margin-left: 9em !important;*/
/*	}*/
/*}*/

/*@media only screen and (min-device-width: 376px) and (max-device-width: 390px) {*/
/*	#side #side-a {*/
/*		text-align: center;*/
/*		display: block;*/
/*		justify-content: unset;*/
/*		align-items: unset;*/
/*		height: 6.5em;*/
/*	}*/

/*	#side #side-a p {*/
/*		border-right: 0;*/
/*	}*/

/*	#side #side-a #x-hide-show-side-bar {*/
/*		top: 1px;*/
/*	}*/

/*	#sideTab {*/
/*		padding: 7px;*/
/*	}*/

/*	#sideTab .tab-teacherInfo {*/
/*		width: 11.5em;*/
/*	}*/

/*	#sideTab .tab-teacherInfo div {*/
/*		padding-left: 1em;*/
/*	}*/

/*	#sideTab .tab-trash {*/
/*		width: 11.5em;*/
/*		justify-content: flex-start;*/
/*	}*/

/*	#sideTab .tab-trash div {*/
/*		padding-left: 1.2em;*/
/*		justify-content: flex-start;*/
/*	}*/

/*	.tab-teacherInfo div:nth-child(1), .tab-masterlist div, .tab-records div, .tab-trash div {*/
/*		border-radius: 13px !important;*/
/*	}*/

/*	#sideTab #tab-masterlist-a {*/
/*		width: 9.5em;*/
/*		justify-content: flex-start;*/
/*	}*/

/*	#content > div > div.bg-white {*/
/*		overflow: auto;*/
/*	}*/

/*	#content #grid-a {*/
/*		width: 31em;*/
/*	}*/

/*	#content #mobile-a {*/
/*		margin-top: 2em;*/
/*	}*/

/*	.modal-content {*/
/*		width: 100% !important;*/
/*	}*/

/*	.mobile-image1 {*/
/*		margin-left: 9em !important;*/
/*	}*/
/*}*/

/*@media only screen and (min-device-width: 391px) and (max-device-width: 414px) {*/
/*	#side #side-a {*/
/*		text-align: center;*/
/*		display: block;*/
/*		justify-content: unset;*/
/*		align-items: unset;*/
/*		height: 6.5em;*/
/*	}*/

/*	#side #side-a p {*/
/*		border-right: 0;*/
/*	}*/

/*	#side #side-a #x-hide-show-side-bar {*/
/*		top: 1px;*/
/*	}*/

/*	#sideTab {*/
/*		padding: 7px;*/
/*	}*/

/*	#sideTab .tab-teacherInfo {*/
/*		width: 11.5em;*/
/*	}*/

/*	#sideTab .tab-teacherInfo div {*/
/*		padding-left: 1em;*/
/*	}*/

/*	#sideTab .tab-trash {*/
/*		width: 11.5em;*/
/*		justify-content: flex-start;*/
/*	}*/

/*	#sideTab .tab-trash div {*/
/*		padding-left: 1.2em;*/
/*		justify-content: flex-start;*/
/*	}*/

/*	.tab-teacherInfo div:nth-child(1), .tab-masterlist div, .tab-records div, .tab-trash div {*/
/*		border-radius: 13px !important;*/
/*	}*/

/*	#sideTab #tab-masterlist-a {*/
/*		width: 9.5em;*/
/*		justify-content: flex-start;*/
/*	}*/

/*	#content > div > div.bg-white {*/
/*		overflow: auto;*/
/*	}*/

/*	#content #grid-a {*/
/*		width: 31em;*/
/*	}*/

/*	#content #mobile-a {*/
/*		margin-top: 2em;*/
/*	}*/

/*	.modal-content {*/
/*		width: 100% !important;*/
/*	}*/

/*	.mobile-image1 {*/
/*		margin-left: 9em !important;*/
/*	}*/
/*}*/

/*@media only screen and (min-device-width: 415px) and (max-device-width: 430px) {*/
/*	#side #side-a {*/
/*		text-align: center;*/
/*		display: block;*/
/*		justify-content: unset;*/
/*		align-items: unset;*/
/*		height: 6.5em;*/
/*	}*/

/*	#side #side-a p {*/
/*		border-right: 0;*/
/*	}*/

/*	#side #side-a #x-hide-show-side-bar {*/
/*		top: 1px;*/
/*	}*/

/*	#sideTab {*/
/*		padding: 7px;*/
/*	}*/

/*	#sideTab .tab-teacherInfo {*/
/*		width: 11.5em;*/
/*	}*/

/*	#sideTab .tab-teacherInfo div {*/
/*		padding-left: 1em;*/
/*	}*/

/*	#sideTab .tab-trash {*/
/*		width: 11.5em;*/
/*		justify-content: flex-start;*/
/*	}*/

/*	#sideTab .tab-trash div {*/
/*		padding-left: 1.2em;*/
/*		justify-content: flex-start;*/
/*	}*/

/*	.tab-teacherInfo div:nth-child(1), .tab-masterlist div, .tab-records div, .tab-trash div {*/
/*		border-radius: 13px !important;*/
/*	}*/

/*	#sideTab #tab-masterlist-a {*/
/*		width: 9.5em;*/
/*		justify-content: flex-start;*/
/*	}*/

/*	#content > div > div.bg-white {*/
/*		overflow: auto;*/
/*	}*/

/*	#content #grid-a {*/
/*		width: 31em;*/
/*	}*/

/*	#content #mobile-a {*/
/*		margin-top: 2em;*/
/*	}*/

/*	.modal-content {*/
/*		width: 100% !important;*/
/*	}*/

/*	.mobile-image1 {*/
/*		margin-left: 9em !important;*/
/*	}*/
/*}*/

/*@media only screen and (min-device-width: 431px) and (max-device-width: 768px) {*/
/*	#side #side-a {*/
/*		text-align: center;*/
/*		display: block;*/
/*		justify-content: unset;*/
/*		align-items: unset;*/
/*		height: 6.5em;*/
/*	}*/

/*	#side #side-a p {*/
/*		border-right: 0;*/
/*	}*/

/*	#side #side-a #x-hide-show-side-bar {*/
/*		top: 1px;*/
/*	}*/

/*	#sideTab {*/
/*		padding: 7px;*/
/*	}*/

/*	#sideTab .tab-teacherInfo {*/
/*		width: 11.5em;*/
/*	}*/

/*	#sideTab .tab-teacherInfo div {*/
/*		padding-left: 1em;*/
/*	}*/

/*	#sideTab .tab-trash {*/
/*		width: 11.5em;*/
/*		justify-content: flex-start;*/
/*	}*/

/*	#sideTab .tab-trash div {*/
/*		padding-left: 1.2em;*/
/*		justify-content: flex-start;*/
/*	}*/

/*	.tab-teacherInfo div:nth-child(1), .tab-masterlist div, .tab-records div, .tab-trash div {*/
/*		border-radius: 13px !important;*/
/*	}*/

/*	#sideTab #tab-masterlist-a {*/
/*		width: 9.5em;*/
/*		justify-content: flex-start;*/
/*	}*/

/*	#content > div > div.bg-white {*/
/*		overflow: auto;*/
/*	}*/

/*	#content #grid-a {*/
/*		width: 31em;*/
/*	}*/

/*	#content #mobile-a {*/
/*		margin-top: 2em;*/
/*	}*/

/*	.modal-content {*/
/*		width: 100% !important;*/
/*	}*/

/*	.mobile-image1 {*/
/*		margin-left: 9em !important;*/
/*	}*/
/*}*/

/*@media only screen and (min-device-width: 769px) and (max-device-width: 820px) {*/
/*	!* iPad Air & iPad Mini *!*/
/*	#side #side-a {*/
/*		text-align: center;*/
/*		display: block;*/
/*		justify-content: unset;*/
/*		align-items: unset;*/
/*		height: 6.5em;*/
/*	}*/

/*	#side #side-a p {*/
/*		border-right: 0;*/
/*	}*/

/*	#side #side-a #x-hide-show-side-bar {*/
/*		top: 1px;*/
/*	}*/

/*	#sideTab {*/
/*		padding: 7px;*/
/*	}*/

/*	#sideTab .tab-teacherInfo {*/
/*		width: 11.5em;*/
/*	}*/

/*	#sideTab .tab-teacherInfo div {*/
/*		padding-left: 1em;*/
/*	}*/

/*	#sideTab .tab-trash {*/
/*		width: 11.5em;*/
/*		justify-content: flex-start;*/
/*	}*/

/*	#sideTab .tab-trash div {*/
/*		padding-left: 1.2em;*/
/*		justify-content: flex-start;*/
/*	}*/

/*	.tab-teacherInfo div:nth-child(1), .tab-masterlist div, .tab-records div, .tab-trash div {*/
/*		border-radius: 13px !important;*/
/*	}*/

/*	#sideTab #tab-masterlist-a {*/
/*		width: 9.5em;*/
/*		justify-content: flex-start;*/
/*	}*/

/*	#content > div > div.bg-white {*/
/*		overflow: auto;*/
/*	}*/

/*	#content #grid-a {*/
/*		width: 31em;*/
/*	}*/

/*	#content #mobile-a {*/
/*		margin-top: 2em;*/
/*	}*/

/*	.modal-content {*/
/*		width: 100% !important;*/
/*	}*/

/*	.mobile-image1 {*/
/*		margin-left: 7em !important;*/
/*	}*/
/*}*/

.svg-1{
	fill: white;
	width: 100px;
	height: 24px;
}

.table-1 thead{
	background-color: gray !important;
}

@media (max-width: 980px) {
	body{
		zoom: 0.5 !important;
	}
	#content{
		zoom: 0.8 !important;
	}
}


.modal2{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.4);
	z-index: 9999999;
	top: 0;
	left: 0;
	display: none;
}
.modal2 .square{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.modal2  .square .modal-content{
	width: 40em;
	height: 26em;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 9em;
}
.modal2 .square .modal-content1{
	width: 93%;
	height: 93%;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid gray;
}
.modal-content1{
	display: grid;
}

